__pycache__/

hardware/simv.daidir/*
hardware/csrc/*
hardware/syn/*
hardware/tb*/*
hardware/*.tcl
hardware/*.vcd
hardware/*.log
hardware/*.txt
hardware/work/*
hardware/tmp/*
hardware/ucli.key 
hardware/simv 
hardware/Makefile 
hardware/program.out

work/
.ipynb_checkpoints/
save/*
*.pth.tar
*.log
*.sh
Makefile