__pycache__/

hardware/simv.daidir/*
hardware/csrc/*
hardware/syn/*
hardware/tb*/*
hardware/*.vcd
hardware/*.log
hardware/*.txt
hardware/work/*
hardware/tmp/*
hardware/ucli.key 
hardware/simv 
hardware/Makefile 
hardware/program.out

work/
.ipynb_checkpoints/
save/*
*.pth.tar
*.log
*.txt
*.sh
*.tcl
*.pdf
*.svg
*.vsdx
model_shape_config/
model_value_config/
model_fp3_sv_profile/
Makefile
sim/mem/
sim/ppl_pareto/
wiki_c4_ppl/results*/